{% extends "base.html" %}

{% load static %}
{% load client_lib_tags %}
{% load client_version %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet" />
    <link href="{% static 'lib/css/bootstrap-select.css' %}?{% client_version %}" rel="stylesheet" />
    
    <link rel="stylesheet" href="/static/css/site_base.css">
    <link rel="stylesheet" href="/static/css/adaptive.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% include './snippets/loader_style.html' %}
{% endblock %}


{% block middle %}

{% block gn_config %}
    {% include './_geonode_config.html' %}
{% endblock %}

{% block container %}
<div id="ms-container">
    <div class="gn-main-event-container">
        <div class="gn-main-event-content">
            <div class="gn-main-loader"></div>
            <div class="gn-main-event-text"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block ms_scripts %}
    <script id="gn-script" src="{% static 'mapstore/dist/js/gn-catalogue.js' %}?{% client_version %}"></script>
{% endblock %}

{% block scripts %}
    <script src="{% static "lib/js/jquery.min.js" %}"></script>
    <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
   
{% endblock %}

<style>

</style>

{% endblock %}
