{% extends "base_with_footer.html" %} 
{% load i18n %} 
{% block middle %}

<div class="nsdi-main">
  <div class="nsdi-main-background d-flex flex-column justify-content-center">
    <div
      class="nsdi-main-background-title nsdi-font-size-64 nsdi-font-weight-700 nsdi-font-color-white"
    >
      {% trans "Project name" %}
    </div>
    <div
      class="nsdi-main-background-subtitle nsdi-font-size-24 nsdi-font-weight-500 nsdi-font-color-white"
    >
      {% trans "Project subname" %}
    </div>
    <div class="nsdi-main-background-buttons d-flex">
      <div
        class="nsdi-main-background-button-first d-flex nsdi-font-size-18 nsdi-font-weight-500"
      >
        <a href="/catalogue/#/search/?f=dataset">{% trans "Go to catalog data" %}</a>
      </div>
      <div
        class="nsdi-main-background-button-second d-flex nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-white"
      >
        {% if user.is_authenticated %}
          <a href="/catalogue/#/map/new">{% trans "Create own map" %}</a>
        {% else %}
          <a href="/account/login/">{% trans "Create own map" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="nsdi-main-numbers d-flex justify-content-between">
    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        <span id="layers-count"></span>+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        {% trans "created layers" %}
      </div>
    </div>

    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        <span id="maps-count"></span>+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        {% trans "ready maps" %}
      </div>
    </div>

    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        <span id="docs-count"></span>+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        {% trans "of documents" %}
      </div>
    </div>

    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        <span id="users-count"></span>+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        {% trans "of users" %}
      </div>
    </div>
  </div>

  <div class="nsdi-main-topmap">
    <div
      class="nsdi-main-topmap-title nsdi-font-size-24 nsdi-font-weight-500 nsdi-font-color-black text-center"
    >
      {% trans "Top of maps and layers" %}
    </div>
    <div class="nsdi-main-topmap-switcher d-flex">
      <div
        class="nsdi-main-topmap-switcher-item active nsdi-font-size-18 nsdi-font-weight-500"
        id="topmap-latest"
      >
        {% trans "Last of tops" %}
      </div>
      <div
        class="nsdi-main-topmap-switcher-item nsdi-font-size-18 nsdi-font-weight-500"
        id="topmap-popular"
      >
        {% trans "Popular of tops" %}
      </div>
    </div>

    <div class="nsdi-main-topmap-list" id="nsdi-main-topmap-list"></div>

    <div
      class="nsdi-main-topmap-link text-center nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-black"
    >
      <a href="/catalogue/#/search">
        {% trans "Show all" %}
      </a>
    </div>
  </div>
</div>

<style>
  .nsdi-header {
    background: transparent !important;
    position: absolute !important;
  }
  #wrap {
    min-height: calc(100vh - 120px);
  }
  .nsdi-main-background {
    height: 100vh;
  }
</style>
{% endblock %} {% block extra_script %}
<script>

  function getData(url) {
    $.ajax({
      url: url,
    }).done(function (data) {

      $('#nsdi-main-topmap-list').empty();
      
      data.objects.forEach(element => {

        let title = element.title;
        let abstract = element.abstract;
        let fullDate = new Date(element.date);
        let thumbnailUrl = element.thumbnail_url;
        let link = `/catalogue/#/${element.csw_type}/${element.id}`;
        
        let date = fullDate.getDate() + "." + fullDate.getMonth() + "." + fullDate.getFullYear();

        let listItem = `
        <a class="nsdi-main-topmap-list-item" href="${link}">
          <img
            src="${thumbnailUrl}"
            class="nsdi-main-topmap-list-item-img"
          />
          <div class="nsdi-main-topmap-list-item-info">
            <div
              class="nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-black"
            >
              ${title}
            </div>
            <div
              class="nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-black"
            >
              ${abstract}
            </div>
            <div
              class="nsdi-main-topmap-list-item-info-date nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-black d-flex align-items-center"
            >
              ${date}
            </div>
          </div>
        </a>
        `;

        $('#nsdi-main-topmap-list').append($.parseHTML(listItem));

      });
      
    });
  }

  function getPopularData() {
    getData("/api/featured");
  }

  function getLatestData() {
    getData("/api/latest");
  }

  $('.nsdi-main-topmap-switcher-item').click(function() {
    $('.nsdi-main-topmap-switcher-item').removeClass('active');
    let currentElement = $(this);
    currentElement.addClass('active');

    if (currentElement.attr('id') == 'topmap-popular') {
      getPopularData();
    } else {
      getLatestData();
    }
    
  })

  getLatestData();

  
    $.ajax({
      url: "api/datasets/?limit=1",
    }).done(function (data) {
      let layers_count = data.meta.total_count;
      $('#layers-count').html(layers_count);
    });

    $.ajax({
      url: "api/maps/?limit=1",
    }).done(function (data) {
      let maps_count = data.meta.total_count;
      $('#maps-count').html(maps_count);
    });
    
    $.ajax({
      url: "api/documents/?limit=1",
    }).done(function (data) {
      let docs_count = data.meta.total_count;
      $('#docs-count').html(docs_count);
    });
    
    $.ajax({
      url: "api/users",
    }).done(function (data) {
      let users_count = data.users.length;
      $('#users-count').html(users_count);
    });

  

  

  
</script>
{% endblock extra_script %}
