{% extends "base_with_footer.html" %} 
{% load i18n %} 
{% block middle %}

<div class="nsdi-main">
  <div class="nsdi-main-background d-flex flex-column justify-content-center">
    <div
      class="nsdi-main-background-title nsdi-font-size-64 nsdi-font-weight-700 nsdi-font-color-white"
    >
      {% trans "Project name" %}
    </div>
    <div
      class="nsdi-main-background-subtitle nsdi-font-size-24 nsdi-font-weight-500 nsdi-font-color-white"
    >
      {% trans "Project subname" %}
    </div>
    <div class="nsdi-main-background-buttons d-flex">
      <div
        class="nsdi-main-background-button-first d-flex nsdi-font-size-18 nsdi-font-weight-500"
      >
        {% trans "Go to catalog data" %}
      </div>
      <div
        class="nsdi-main-background-button-second d-flex nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-white"
      >
        {% trans "Create own map" %}
      </div>
    </div>
  </div>
  <div class="nsdi-main-numbers d-flex justify-content-between">
    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        230+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        созданных слоев
      </div>
    </div>

    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        230+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        созданных слоев
      </div>
    </div>

    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        230+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        созданных слоев
      </div>
    </div>

    <div class="nsdi-main-number-item text-center">
      <div
        class="nsdi-main-number-item-num nsdi-font-size-64 nsdi-font-weight-700"
      >
        230+
      </div>
      <div
        class="nsdi-main-number-item-text nsdi-font-size-24 nsdi-font-weight-400"
      >
        созданных слоев
      </div>
    </div>
  </div>

  <div class="nsdi-main-topmap">
    <div
      class="nsdi-main-topmap-title nsdi-font-size-24 nsdi-font-weight-500 nsdi-font-color-black text-center"
    >
      {% trans "Top of maps and layers" %}
    </div>
    <div class="nsdi-main-topmap-switcher d-flex">
      <div
        class="nsdi-main-topmap-switcher-last nsdi-font-size-18 nsdi-font-weight-500"
      >
        {% trans "Last of tops" %}
      </div>
      <div
        class="nsdi-main-topmap-switcher-popular nsdi-font-size-18 nsdi-font-weight-500"
      >
        {% trans "Popular of tops" %}
      </div>
    </div>

    <div class="nsdi-main-topmap-list" id="nsdi-main-topmap-list"></div>

    <div
      class="nsdi-main-topmap-link text-center nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-black"
    >
      {% trans "Show all" %}
    </div>
  </div>
</div>

<style>
  .nsdi-header {
    background: transparent !important;
    position: absolute !important;
  }
  #wrap {
    min-height: calc(100vh - 120px);
  }
  .nsdi-main-background {
    height: 100vh;
  }
</style>
{% endblock %} {% block extra_script %}
<script>
  $.ajax({
    url: "/api/featured",
  }).done(function (data) {
    console.log(data);
    data.objects.forEach(element => {

      let title = element.title;
      let abstract = element.abstract;
      let fullDate = new Date(element.date);
      let thumbnailUrl = element.thumbnail_url;
      let link = `/catalogue/#/${element.csw_type}/${element.id}`;
      
      let date = fullDate.getDate() + "." + fullDate.getMonth() + "." + fullDate.getFullYear();

      let listItem = `
      <a class="nsdi-main-topmap-list-item" href="${link}">
        <img
          src="${thumbnailUrl}"
          class="nsdi-main-topmap-list-item-img"
        />
        <div class="nsdi-main-topmap-list-item-info">
          <div
            class="nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-black"
          >
            ${title}
          </div>
          <div
            class="nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-black"
          >
            ${abstract}
          </div>
          <div
            class="nsdi-main-topmap-list-item-info-date nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-black d-flex align-items-center"
          >
            ${date}
          </div>
        </div>
      </a>
      `;

      $('#nsdi-main-topmap-list').append($.parseHTML(listItem));

    });
    
  });
</script>
{% endblock extra_script %}
