<footer class="nsdi-footer d-flex justify-content-between align-items-center">
  <div
    class="nsdi-footer-navbar d-flex justify-content-between align-items-center"
  >
    <a href=""
      class="nsdi-footer-navbar-item nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-white active"
    >
      {% trans "Main" %}
    </a>
    <a
      href="/catalogue/#/search/?f=dataset"
      class="nsdi-footer-navbar-item nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-white"
    >
      {% trans "Catalog data" %}
    </a>
    <a
      href="/catalogue/#/search/?f=map"
      class="nsdi-footer-navbar-item nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-white"
    >
      {% trans "Maps" %}
    </a>
    <a
      href="/catalogue/#/search/?f=geostory"
      class="nsdi-footer-navbar-item nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-white"
    >
      {% trans "Geostories" %}
    </a>
    <a
      href="/catalogue/#/search/?f=dashboard"
      class="nsdi-footer-navbar-item nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-white"
    >
      {% trans "Dashboards" %}
    </a>
  </div>
  <div class="nsdi-footer-email d-flex">
    <input
      type="email"
      class="nsdi-footer-email-input nsdi-font-size-14 nsdi-font-weight-500"
      placeholder="E-mail"
    />
    <div
      class="nsdi-footer-email-button nsdi-font-size-14 nsdi-font-weight-500 nsdi-font-color-black d-flex justify-content-center align-items-center"
    >
      {% trans "Sign in" %}
    </div>
  </div>
</footer>

<style>
  .nsdi-footer {
    height: 120px;
    background: #000000;
    padding: 0 5rem;
  }

  .nsdi-footer-navbar {
    width: 45%;
  }
  .nsdi-footer-navbar-item.active {
    color: #FFD55E;
  }
  input.nsdi-footer-email-input {
    background: #3b3b3b !important;
    border-radius: 5px;
    border: none;
    height: 2.5rem;
    width: 16rem;
    padding-left: 1rem;
    color: #ffffff !important;
  }
  .nsdi-footer-email-input::placeholder {
    color: #cbcbcb;
  }
  .nsdi-footer-email-button {
    background: #ffd55e;
    border-radius: 5px;
    height: 2.5rem;
    padding: 0 1.5rem;
    margin-left: 0.875rem;
  }
</style>
